<% provide(:title, 'Blockexplorer | Aliases') %>
<h1>
  <small>Listing Aliases</small>
</h1>
<div class="row-fluid">
  <div class="span12">
    <%= will_paginate%>
    <%= render "table" %>
  </div>
</div>