<% provide(:title, 'Blockexplorer') %>
<h1>
  <span>
    <small>Wellcome to FIMK <strong style="color:red;">TEST</strong> Blockexplorer</small>
  </span>
  <span style="float:right;display:inline;font-size:14px;">
    <a href="/blocks"><b>More...</b></a>
  </span>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= render "blocks/table" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="min-height:510px" id="rolling-txn-container">
       <%= render "transactions/table_latest" %>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <h3>About Automated Transactions</h3>
<span>Our automated bot constantly sends transactions between one of it's 50000+ registered test accounts.</span>
<span>The rolling list of transactions on the left are real transactions that were send to the FIM nodes by the bots, 
another bot then collects the unconfirmed transactions from the FIM nodes and displays them here.</span>
    </div>
    <p>
    <div class="well">
      <h3>Search</h3>
      <p><i>You may enter a block height, block id, block hash, transaction id, transaction hash, account id or account public key ...</i></p>
      <form class="form-inline" action="/search" method="GET">
        <input type="text" style="width:275px;" id="search_input2" autofocus="" name="search">
        <input type="submit" value="Search" id="search_button" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>