<% provide(:title, 'Blockexplorer') %>
<h1>
  <span>
    <small><strong style="color:red">FIMKrypto TESTNET for 0.2.4 Blockexplorer</strong></small>
  </span>
  <span style="float:right;display:inline;font-size:14px;">
    <a href="/blocks"><b>More...</b></a>
  </span>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= render "blocks/table" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="min-height:510px" id="rolling-txn-container">
       <%= render "transactions/table_latest" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h3>Welcome</h3>
<p>This blockexplorer is offered to you and maintained by <strong>Krypto FIN ry</strong>.</p>
<p>For more information please visit our <a href="http://fimk.fi">website</a>.</p>
<p><strong>External links:</strong></p>  
      <p><ul>
        <li><a href="http://fimk.fi">Krypto Fin ry official homepage</a> (Finnish)</li>
        <li><a href="http://fimk.fi">Krypto Fin ry official homepage</a> (English)</li>
        <li><a href="http://forum.fimk.fi"><strong>FIMKRYPTO</strong> Finish/English forum</a></li>
      </ul></p>
<p><strong>FIMKrypto</strong> is overseen by <strong>Krypto FIN ry</strong> non-profit association in the Finnish public register of associations.</p>      
<!--       <form class="form-inline" action="/search" method="GET">
        <input type="text" style="width:275px;" id="search_input2" autofocus="" name="search">
        <input type="submit" value="Search" id="search_button" class="btn btn-primary">
      </form>
 -->    </div>
  </div>
</div>