<% provide(:title, 'Blockexplorer') %>
<h1>
  <span>
    <small>FIMKrypto Blockexplorer</small>
  </span>
</h1>
<div class="row">
  <div class="col-md-12">
    <h1>
      <div class="alert alert-danger" role="alert">
         <strong>Oh snap!</strong> Not found
      </div>
    </h1>
  </div>
</div>
