<% provide(:title, 'Blockexplorer | Blocks') %>
<h1>
  <small>Listing Blocks</small>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate%>
    <%= render "table" %>
  </div>
</div>