<% provide(:title, 'Blockexplorer | Transactions | Search') %>
<div class="alert alert-info" role="alert">
  <span>Search text <strong><%= ActionView::Base.full_sanitizer.sanitize(params[:search]) %></strong></span>
</div>
<h1>
  <small>Listing Transaction Search Result</small>
</h1>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate%>
    <%= render "table" %>
  </div>
</div>