<% provide(:title, 'Blockexplorer | Accounts') %>
<h1>
  <small>Listing Accounts</small>
</h1>
<div class="row-fluid">
  <div class="span12">
    <%= will_paginate%>
    <%= render "table" %>
  </div>
</div>

